{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

    <div class="signup-container" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}

        <div class="shadow-lg" style="padding: 40px; width: 25%;">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width="40" height="40" class="img-fluid mx-auto d-block">
            <h3 class="fw-bold" style="padding-top: 20px;">Sign Up</h3>
            <p>Start your journey with WattsFitness</p>
            <form class="row g-3">
                <div class="form-floating col-md-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="John">
                    <label for="name">First Name</label>
                </div>
                <div class="form-floating col-md-6">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Doe">
                    <label for="lastname">Last Name</label>
                </div>
                <div class="form-floating col-12">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating col-12">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div style="padding-bottom: 30px;" class="d-grid gap-3">
                    <button class="btn btn-outline-success" type="submit">Create Account</button>
                </div>
                <div>
                    <p class="text-center">Already have a WattsFitness account? <a class="fw-bold" href="{% url 'index' %}">Login now</a></p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>